html {
    --text: #393742;
    --link: #2160be;
    --bg: #fbfcff;
}

body {
    max-width: 720px;

    margin: 0 auto;
    padding: 1rem;

    background-color: var(--bg);

    font-family: "Roboto", "Yu Gothic Medium", sans-serif;
    font-weight: 300;
    font-size: 24px;

    color: var(--text);
    line-height: 1;
}

::selection {
    background-color: var(--text);
    color: var(--bg);
}

p {
    hyphens: auto;
    text-align: justify;
}

p, li {
    line-height: 1.4;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    margin: 4rem 0;
}

.title, .subtitle {
    font-variant-caps: small-caps;
}

.title {
    font-size: 3rem;
    padding: 2rem 0 1rem;
}

.subtitle {
    font-size: 2rem;
    padding: 1.5rem 0 1rem;
}